body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 350px;
  line-height: 1.5rem;
  align-self: flex-start;
  overflow: hidden;

  & header {
    border-bottom: 1px solid var(--border-color);
    padding: var(--space);
    display: flex;
    justify-content: space-between;

    & a {
      text-decoration: none;
    }
  }

  & main {
    padding: var(--space);
    width: inherit;
    & img {
      width: inherit;
      margin: calc(-1 * var(--space));
    }
    & img:last-child {
      margin-bottom: calc(-2 * var(--space));
    }
  }

  & footer {
    border-top: 1px solid var(--border-color);
    & ul {
      padding: 0;
      list-style: none;
    }
  }
}

footer ul {
  display: flex;
  justify-content: space-evenly;

  & li:not(:first-child)::before {
    content: '|';
    margin-right: 40px;
    color: "red"
  }
}
