:root {
}

body {
  overflow: hidden;
  color: black;
  display: grid;
  grid-template-areas: "section header" "section main" "footer footer";
  grid-template-columns: 120px auto;
  grid-template-rows: 60px 1fr 40px;
  grid-gap: 0;
  padding: 0;
}

body > section {
  border-right: 1px solid var(--border-color);
  grid-area: section;
  padding: 10px;

  & ul {
    list-style-type: none;
    padding-inline-start: 0;

    & li > a {
      color: #999;
      font-size: 14px;
      text-decoration: none;
    }
    & li > a:hover {
      color: black;
    }
  }
}

body > header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  grid-area: header;
  padding: 10px;
  gap: 15px;

  & h1 {
    font-size: 1.75rem;
    margin: 0;
    flex-grow: 1;
  }
}

body > main {
  grid-area: main;
  overflow-y: scroll;
  grid-area: main;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

body > footer {
  border-top: 1px solid var(--border-color);
  background-color: #f0f0f0;
  grid-area: footer;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 40px auto;
  }
  section ul li {
    justify-content: center;
    & span {
      display: none
    }
  }
}
